header{
    height: 100vh;
    padding-top: 7rem;
    overflow: hidden;
}
h1, h5{
    justify-content: center;
    display: flex;

}
 .header__container{
    text-align: center;
    height: 100%;
    position: relative;
    display: flex;
    padding-bottom: 5rem;
    flex-direction: column;
    align-items: center;
    margin-bottom: 8rem;
    margin-left: .7rem;
}

.cta{
    margin-top: -4.5rem;
    margin-bottom: 2rem;
    display: flex;
    gap: 1rem;
    justify-content: center;
}

.header__socials{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.8rem;
    position: absolute;
    left: 0;
    bottom: 3rem;

}

.header__socials::after{
    content: '';
    width: 1px;
    height: 2rem;
    background: var(--color-primary);
}


.me{
    width: 22rem;
    height: 32rem;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    margin-top: 9rem;
    border-radius: 4rem;
    overflow: hidden;
    padding: 5rem 1.5rem 1.5rem 1.5rem;
}


.scroll__down{
    position: absolute;
    right: -.5rem;
    bottom: 5rem;
    transform: rotate(90deg);
    font-weight: 200;
    font-size: 0.9rem;
}

@media screen and (max-width: 600px) {
    header {
      height: 100vh;
      width: var(--container-width-sm);
        width: 65%;
        margin: 0 auto 3rem;
    }
      .header__socials, .scroll__down{
        display: none;

      }
      .cta{
        margin-top: -5rem;
      }

    }  
  
    section{
      margin-bottom: 2rem;
    }
  
  @media screen and (max-width: 1024px) {
    header {
      height: 68vh;
      width: var(--container-width-md);
      margin: 2rem auto 4rem;
    }
  
    section{
      margin-top: 6rem;
    }
  }

.header__socials a {
  font-size: larger;
}
