.icons{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}
h4{
  display: flex;
  justify-content: center;
}

i{
  font-size: 75px;
  box-shadow: 1px 2px 9px;

}


.devicon-html5-plain:hover{
  color: red;
}

.devicon-css3-plain:hover{
  color: blue;
}
.devicon-bootstrap-plain:hover{
    color: purple;
  }
.devicon-mongodb-plain:hover{
  color: green;
 } 
.devicon-react-original:hover{
    color: blue;
}
.devicon-javascript-plain:hover{
  color:yellow;
}
.devicon-nodejs-plain:hover{
    color: green;
}
.devicon-python-plain:hover{
  color: yellow;
}
.projects-container article{
  background: var(--color-bg-variant);
  border: 1px solid transparent;
  border-radius: 1rem;
  padding: 2rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: var(--transition);
  box-shadow: 1px 2px 9px;
  height: 20rem;
  width: 20rem;

}

.projects-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
  gap: 1rem;
}

article:hover{
  background: white;
  opacity: 0.5;
  color: var(--color-bg);
  border-color: transparent;
}
